<nav>
    <div class="navbar">
        <img class="insta-logo" src="/assets/images/insta.png" width="35%" height="40%">
        <div class="nav-icons">
            <!-- <a><img src="/assets/images/profile.jpg" height="20%" width="20%"></a> -->
            <a><i class="fa fa-home" aria-hidden="true"></i></a>     
            <a><i class="fa fa-paper-plane-o" aria-hidden="true"></i></a>
            <a><i class="fa fa-compass" aria-hidden="true"></i></a>
            <a><i class="fa fa-heart-o" aria-hidden="true"></i></a>
            <a><img  class="nav-img" src="/assets/images/profile.jpg"></a>
    </div>
    </div>
    
</nav>
