.navbar{
    display: flex;
}
.insta-logo{
    width: 38vw;
    padding-top: 7px;
}

.nav-icons > a{
    font-size: 25px;
    padding: 2px 9px;
}
.nav-img{
    border-radius:50% ;
    width: 30px;
    height: 30px;

}