.msg-data{
    margin-left: 10px;
    line-height: 5px;
    padding-top: 16px;
}

.inbox-img {
  border-radius: 50%;
  height: 75px;
  width: 75px;
  padding: 5px;
}
.username {
  padding-top: 2px;
  font-weight: 400;
}
.active-user {
  font-size: small;
  color: rgb(88, 84, 84);
}
