.stories-img{
    border-radius: 50%;
    height: 70px;
    width: 70px;
    border: 3px solid red;
    padding: 2px;
    margin: 5px;
}
// .stories>div{
//     overflow-y: scroll;
//     height: 90px;
// }