<router-outlet></router-outlet>

<!-- <p class="text-center">Hello</p>

<button class="btn btn-primary">Send</button>

<div class="card m-2">
  <div class="card-header">
    <h2>hello card-header</h2>
  </div>
  <div class="card-body">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam cum delectus quae iusto perferendis. Nostrum repudiandae dignissimos laborum amet enim!
  </div>
</div>
<div class="jumbotron">
  <h2>Jumbotron</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa libero placeat omnis qui inventore ab at accusantium perferendis nemo, repellendus repellat enim, commodi molestiae in? Expedita quia alias officia libero, accusamus laudantium placeat suscipit odio quis impedit magni dolore ipsa facere culpa omnis laborum dolores obcaecati, temporibus voluptate, hic eaque.</p>
</div> -->